{% load static %}
<html>
<head>
    <title> Rapport mensuel </title>
</head>
 
<body>
 
 <table border="1" width='1000px'><tr><td>
 
<font size="6pt"> <center><b>RAPPORT MENSUEL : {{date_rapport}} </b></center>  </font>
<font size="5pt"> <center><b>Station: {{nomposte}} </b></center>  </font>
{{derniermois}}

<table width="100%"><tr><td width="70%">
Localisation:    
<li> Ville : {{ville}}    
<li> Longitude/Latitude : {{lon}}°/{{lat}}°  
<li> Altitude : {{alt}}m  
</td><td>
<li> Modèle : {{type}}
<li> Type d'informations : {{typinfo}}
</td></tr></table>

<h2>Température</h2>
<table width="100%">
<tr><td>

<img src="{% static linkT  %}" />    
    
</td><td>
<div style="padding:3px; border:2px dotted #a5a5a5; background-color:#e3e3e3;">
<strong>Commentaire :</strong></br> 
La température moyenne (mini/maxi) de ce mois était de <b>{{TM}}°C</b> (<font color="blue">{{TN}}°C</font>/<font color="red">{{TX}}°C</font>), soit <font color="{{color_T}}">{{delta_T}}°C</font> par rapport
à la moyenne des mois de {{mois_entier}} de la station ({{TM_autresmois}}°C). </br>
Avec une température maximale de <font color="red">{{TXAB}}°C</font> le {{TXABDAT}} et une minimale de <font color="blue">{{TNAB}}°C</font> le {{TNDAT}}.
</div>
<center><img src="{% static linkcompT  %}" /></center>
</td></tr>
    <tr><td colspan =2>
        
{% if divT %}
<div style="padding:5px; background-color:#ffaca3; border:2px solid #ff3924; -moz-border-radius:9px; -khtml-border-radius:9px; -webkit-border-radius:9px; border-radius:9px;">
<strong><big>/!\</big> Record</strong>: 
{% for recordT in Record_T %}
{{recordT}} </br> 
{% endfor %}
{% endif %}
</div>

    </td></tr>
   
</table>



<h2>Précipitations</h2>
<table width="100%">
<tr><td>
<center><img src="{% static linkcompRR  %}" /></center>    
<div style="padding:3px; border:2px dotted #a5a5a5; background-color:#e3e3e3;">
<strong>Commentaire :</strong></br> 
Il est tombé <font color = "blue">{{cumul}}mm</font> sur tout le mois de {{mois_entier}}, avec une maxi de {{cumul24}}mm en 24h le {{datecumul24}}. </br>
C'est donc un mois <font color="{{colorRR}}">{{Comm_exc_def}}</font> par rapport à la moyenne des mois 
de {{mois_entier}} de la station. </br>
</div>
</td><td><img src="{% static linkRR  %}" align="right"/></td></tr>
    <tr><td colspan = 2>{% if divRR %}
        <div style="padding:5px; background-color:#ffaca3; border:2px solid #ff3924; -moz-border-radius:9px; -khtml-border-radius:9px; -webkit-border-radius:9px; border-radius:9px;">
<strong><big>/!\</big> Record</strong>: {% for recordRR in Record_RR %}
{{recordRR}} </br> 
{% endfor %}
{% endif %}
</div>
    </td></tr>

</table>






<h2>Vent</h2>
<table width="100%">
<tr><td>
<img src="{% static linkDD  %}" />
</td><td><div style="padding:3px; border:2px dotted #a5a5a5; background-color:#e3e3e3;">
<strong>Commentaire :</strong></br> 
Le vent était majoritairement de secteur {{dir_freqmax}} ({{max_freq}}%) avec une vitesse moyenne de {{FFmoy}}km/h.</br>
Le vent moyen maximal a été relevé le {{HXY}}, il provenait du secteur {{DirDXY}} ({{DXY}}°) à {{FXY}}km/h.</br>
La rafale maximale de {{FXI}}km/h a été relevé le {{HXI}}.</br>

</div></td></tr><tr><td colspan=2>
    {% if divFF%}
<div style="padding:5px; background-color:#ffaca3; border:2px solid #ff3924; -moz-border-radius:9px; -khtml-border-radius:9px; -webkit-border-radius:9px; border-radius:9px;">
<strong><big>/!\</big> Record</strong>: {{RecordFF}}.
</div>{% endif %}</td></tr></table>

 <h2>Autres</h2>
 
<table width ="100%"><tr><td width="25%">
<table border=1><tr><td><b>Pression</b></td><td><b>Date</b></td></tr>
<tr><td><font color ="red">Max :</font> {{PMERMAX}}hPa</td><td>le {{datePMERMAX}}</td</tr>
<tr><td><font color ="blue">Min :</font> {{PMERMIN}}hPa</td><td>le {{datePMERMIN}}</td</tr>    
</table>

</td><td width="25%">
<table border=1><tr><td><b>Indice chaleur</b></td><td><b>Date</b></td></tr>
<tr><td><font color ="red">Max :</font> {{ICMAX}}°C</td><td>le {{dateICMAX}}</td</tr>
<tr><td><font color ="blue">Min :</font> {{ICMIN}}°C</td><td>le {{dateICMIN}}</td</tr>    
</table>
</td><td width="25%">
<table border=1><tr><td><b>Windchill</b></td><td><b>Date</b></td></tr>
<tr><td><font color ="red">Max :</font> {{WCMAX}}°C</td><td>le {{dateWCMAX}}</td</tr>
<tr><td><font color ="blue">Min :</font> {{WCMIN}}°C</td><td>le {{dateWCMIN}}</td</tr>    
</table>
</td><td width="25%">
<div style="padding:3px; border:2px dotted #a5a5a5; background-color:#e3e3e3;">
<strong>Ensoleillement :</strong> {{commINST}}</br> 
</div>
</td></tr></table>
 
 
 
 </td></tr>
 </table>
 
  <a href ="../accueil">Accueil</a>
 
</body>
</html>