<h1>MeteoR-OI</h1>
<h2>Affichage graphique</h2>







<table border="1">
<tr>
<td colspan = "2" width="1000">
<center><h1>Informations sur la station {{nom_public}}</h1></center>
<table width="100%">
<tr>
<td>
Date de la 1ère mesure  : {{date_premiere_mesure}}</br>
Date de la dernière mesure : {{date_derniere_mesure}}</br>
</td>
<td>
Latitude : {{Lat}}°</br>
Longitude : {{Lon}}°</br>
Altitude : {{Altitude}}m
</td>

</tr>
</table>
</td>
</tr>
<tr>
<td>
<center><h2>Données instantanées</h2></center></td>
<td><center><h2>Graphique</h2></center></td>
</tr>
<tr>
<td>




<table border="1">
<tr>
<td colspan ="2"><center>{{date_derniere_mesure}}</center></td>
</tr>

<tr>
<td><b>Température</b></td><td>{{T}} °C</td>
</tr>
<tr>
<td><b>TD</b></td><td>{{TD}} °C</td>
</tr>
<tr>
<td><b>Humidité</b></td><td>{{U}} %</td>
</tr>
<tr>
<td><b>Pression</b></td><td>{{PMER}} hPa</td>
</tr>
<tr>
<td><b>Vent moyen</b></td><td>{{FF}} km/h - {{DD}}° ({{DirDD}})</td>
</tr>
<tr>
<td><b>Rafales</b></td><td>{{FXI}} km/h - {{DXI}}° ({{DirDXI}})</td>
</tr>
<tr>
<td><b>Précipitations</b></td><td>{{RR}} mm</td>
</tr>
<tr>
<td><b>Intensité</b></td><td>{{RRI}} mm/h</td>
</tr>
</table>




</td>
<td>
<form action="." method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <li> Paramètre :
    <SELECT name="champchoisi" size="1">
    {% for champ in liste_champ %}
    <OPTION>{{champ}}
    {% endfor %}
    </SELECT>
    <SELECT name="champchoisi2" size="1">
    {% for champ in liste_champ2 %}
    <OPTION>{{champ}}
    {% endfor %}
    </SELECT>
    <li> Période : Du <input id="datedeb" name="datedeb" type="text"  value="{{datedebuts}}"/> au <input id="datefin" name="datefin" type="text"  value="{{dateends}}"/>
    <input type="submit" value="Submit" />
</form>
{% if carte %}
{% load static %}
<img src="{% static link  %}" /></br>
{% if RDV == False %}
<u>Sur la période pour la paramètre 1</u> :</br> <b>Max</b> = {{Maxx}}{{unite}} - <b>Min</b> = {{Minx}}{{unite}} - <b>Moyenne</b> = {{Avgx}}{{unite}} {% if cumul %}- <b>Cumul</b> = {{Sumx}}{{unite}}</br>
<b> Cumul max en 1h:</b></br>
{% for commcumul in liste_cumul1 %}
{{commcumul}}</br>
{% endfor %}{% endif %}</br>
{% if Comm %}
<div style="padding:3px; border:2px dotted #a5a5a5; background-color:#e3e3e3;">
<strong>Commentaire :</strong></br>

{% for comms in commentaire%}
{{comms}}</br>
{% endfor %}
</div>
{% endif %}
{% endif %}
{% if carte != True %}
Sélectionnez un paramètre et une période pour afficher un graphique
{% endif %}

{% endif %}
</td>

</tr>
</table>
<a href ="../../accueil">Accueil</a></br>
<a href="../../recap/J/{{codeposte}}">Récapitulatif de la journée en cours</a></br>
<a href="../../recap/M/{{codeposte}}">Récapitulatif du mois en cours</a>
