#encoding UTF-8
#def get_battery_status($x)
#if $x == 0
OK#slurp
#else
LOW#slurp
#end if
#end def
## fonction cle et moyenne
#def CleAvg($cle,$x,$y,$d=None)
#if $x is not None and $y is not None
#set $val = $x/$y
#if $d is None
#set $nval = $val
#elif $d == 0 
#set $nval = round($val)
#else
#set $nval = round($val,$d)
#end if
"$cle":$nval,#slurp
#end if
#end def
## fin fonction cle et moyenne
## fonction formatage date
#def datef($x)
#if $x is None
#set $res = "n/a" ## valeur nulle n/a
"$res"#slurp
#else 
#set $d = datetime.fromtimestamp($x)
#set $d = format($d,"%Y-%m-%dT%H:%M:%S")
"$d"#slurp
#end if
#end def
## fin fonction formatage date
## fonction formatage date avec cle
#def CleDat($cle, $dat)
#if $dat is not None
#set $ndat = datetime.fromtimestamp($dat)
#set $ndat = format($ndat,"%Y-%m-%dT%H:%M:%S")
"$cle":"$ndat",#slurp
#end if
#end def
## fin fonction formatage date avec cle
## fonction formatage valeur avec cle
#def CleVal($cle, $val, $d=None)
#if $val is not None
#if $d is None
#set $nval = $val
#elif $d == 0 
#set $nval = round($val)
#else
#set $nval = round($val,$d)
#end if
"$cle":$nval,#slurp
#end if
#end def
## fin fonction formatage valeur avec cle
## fonction calcul valeur avec cle
#def CleCal($cle, $val, $mult, $d=None)
#if $val is not None and $mult is not None
#if $d is None
#set $nval = $val*$mult
#elif $d == 0 
#set $nval = round($val*$mult)
#else
#set $nval = round($val*$mult,$d)
#end if
"$cle":$nval,#slurp
#end if
#end def
## fin fonction calcul valeur avec cle
#from datetime import datetime, timedelta
#from time import mktime
#import user.extensions
[
{
  "meteor" : "$Extras.station_id",
  "version":2,
  "info" : {
     "title":"JSON pour BDClimato",
     "time":"$current.dateTime",
     "uptime":"$station.uptime",
#set $last_timestamp=datetime.fromtimestamp($db_lookup.last_timestamp)
     "last_update":"$last_timestamp",
#set $last_update_stop = datetime.fromtimestamp(user.extensions.last_update_stop)
     "last_update_before_stop":"$last_update_stop", ## final maj depuis arret weewx
#set $json_level = $json.level
     "json_level":"$json_level",  
#set $json_valid = $json.validation
     "json_valid":"$json_valid"  
     },
  "data":
     [
#set $datetime_cur = datetime.fromtimestamp($current.dateTime.raw)
#set $time_period = $current.dateTime.raw - $json.start
##$time_period,
#set $start = 1 ## indique debut de la boucle sur les currents
#set $uptime = round($station.uptime.raw) ## temps passe depuis demarrage weewx
#set $interval = $current.interval.raw * 60 ## interval obs en secondes
#set $boucle_obs = $span($time_delta=$time_period).records ## definit la periode a traiter
#for $obs in $boucle_obs ## debut boucle obs
##if $json_level == 'C' or $json_level == 'H'
#set $amin = round($obs.interval.raw) ##intervalle de la mesure
#set $datetime_obs = datetime.fromtimestamp($obs.dateTime.raw) ## obs en cours de traitement
#set $datetime_obs += timedelta(minutes=$amin) / 2 ## arrondie a interval pres
#set $d = $datetime_obs
#set $datetime_obs -= timedelta(minutes=$d.minute % $amin, seconds=$d.second, microseconds=$d.microsecond)
#set $datetime_obs_start = format($datetime_obs - timedelta(minutes=$amin),"%Y-%m-%dT%H:%M:%S")
#set $datetime_obs_stop = format($datetime_obs,"%Y-%m-%dT%H:%M:%S")
#set $duration = round($obs.interval.raw)
##end if ## fin level 'C' or 'H'
#if $start == 1 ## si premiere obs, obs precedente initialisee
#set $datetime_obs_prev = datetime.fromtimestamp($obs.dateTime.raw) - timedelta(minutes=$amin,seconds=-1)
#set $new_hour  = $datetime_obs.hour != $datetime_obs_prev.hour
#set $new_day   = $datetime_obs.day != $datetime_obs_prev.day
#set $new_month = $datetime_obs.month != $datetime_obs_prev.month
#set $new_year  = $datetime_obs.year != $datetime_obs_prev.year
#set $diff_time = time.mktime($datetime_obs.timetuple()) - time.mktime($datetime_cur.timetuple())
#set $final_obs = abs($diff_time) < 100
#set $start = 0
#set $aggregation_hour  = 0
#set $aggregation_day   = 0
#set $aggregation_month = 0
#set $aggregation_year  = 0
#else
#set $new_hour  = $datetime_obs.hour != $datetime_obs_prev.hour
#set $new_day   = $datetime_obs.day != $datetime_obs_prev.day
#set $new_month = $datetime_obs.month != $datetime_obs_prev.month
#set $new_year  = $datetime_obs.year != $datetime_obs_prev.year
#set $diff_time = time.mktime($datetime_obs.timetuple()) - time.mktime($datetime_cur.timetuple())
#set $final_obs = abs($diff_time) < 100
#if ($aggregation_hour == 0 and $aggregation_day == 0)
#if $json_level == 'C'
      }}, ## apres 1er current on ferme proprement current precedent
#end if
#else

      }, 
#end if
#end if ## fin test premiere obs
#set $aggregation_hour  = 0
#set $aggregation_day   = 0
#set $aggregation_month = 0
#set $aggregation_year  = 0
#if $json_level == 'C' or $new_hour or $final_obs
#if not $json_level == 'D'
      {
       "start_dat":"$datetime_obs_start",
       "stop_dat":"$datetime_obs_stop",
#elif $new_day or $final_obs
      {
       "start_dat":"$datetime_obs_start",
       "stop_dat":"$datetime_obs_stop",
#end if
#end if
#if $json_level == 'C'
       "current": {
       $CleVal("out_temp",$obs.outTemp.degree_C.raw)
       $CleVal("windchill",$obs.windchill.degree_C.raw)
       $CleVal("heatindex",$obs.heatindex.degree_C.raw)
       $CleVal("dewpoint",$obs.dewpoint.degree_C.raw)
       #if $obs.soilTemp1.has_data and $day.soilTemp1.has_data
       $CleVal("soil_temp",$obs.soilTemp1.degree_C.raw)
       #end if     
       $CleVal("humidity",$obs.outHumidity.raw,0)
       $CleVal("barometer",$obs.barometer.hPa.raw)
       $CleVal("pressure",$obs.pressure.hPa.raw)
       $CleVal("wind_avg",$obs.windSpeed.meter_per_second.raw)
       $CleVal("wind_dir",$obs.windDir.raw)
       $CleVal("wind_max",$obs.windGust.meter_per_second.raw)
       $CleVal("wind_max_dir",$obs.windGustDir.raw)
       $CleVal("rain",$obs.rain.mm.raw)
       $CleVal("rain_rate_max",$obs.rainRate.mm_per_hour.raw)
       #if $day.UV.has_data
       $CleVal("uv_indice",$obs.UV.raw)
       #end if
       #if $obs.radiation.has_data  
       $CleCal("radiation",$obs.radiation.raw,$amin*0.006)
       #end if
       $CleVal("in_temp",$obs.inTemp.degree_C.raw)
       $CleVal("in_humidity",$obs.inHumidity.raw,0)
       $CleVal("rx",$obs.rxCheckPercent.raw)
       $CleVal("voltage",$obs.consBatteryVoltage.raw)
       "duration":$duration
#end if
#if $new_hour or $final_obs ## test change heure ou final obs
#if $new_hour ## heure intermediaire
#if $final_obs
#set $delta_h = 0
#else
## calcule les deltas pour agregation
#set $delta_s = ($datetime_cur - $datetime_obs).seconds
#set $delta_d = ($datetime_cur - $datetime_obs).days
#set $delta_h = (($delta_d * 86400) + $delta_s) // 3600 ##+ 1
#end if
#if $json_level == 'C'
       },
#end if
#if $json_level == 'C' or $json_level == 'H'
#set $aggregation_hour = 1
       #if $json_valid
       "aggregations":
       #else
       "validation":
       #end if
       [{
       "level":"H",
       "start_dat":$datef($hour($hours_ago=$delta_h).dateTime.raw)
       }],
       #if $json_valid
       "validation":
       #else
       "aggregations":
       #end if
       [{
       "level":"H",
       #if $new_hour and $day.ET.has_data and $day.ET.sum.raw >0.0
       $CleVal("etp_sum",$hour($hours_ago=$delta_h).ET.sum.mm.raw)
       #end if
       #if $obs.outTemp.has_data
       $CleVal("out_temp_omm",$obs.outTemp.degree_C.raw)
       $CleCal("out_temp_omm_s",$obs.outTemp.degree_C.raw,60)
       $CleVal("out_temp_omm_avg",$obs.outTemp.degree_C.raw)
       $CleVal("out_temp_omm_duration",60)
       #end if
       #if $obs.barometer.has_data
       $CleVal("barometer_omm",$obs.barometer.hPa.raw)
       $CleCal("barometer_omm_s",$obs.barometer.hPa.raw,60)
       $CleVal("barometer_omm_avg",$obs.barometer.hPa.raw)
       $CleVal("barometer_omm_duration",60)
       #end if
       #if $obs.outHumidity.has_data
       $CleVal("humidity_omm",$obs.outHumidity.raw,0)
       $CleCal("humidity_omm_s",$obs.outHumidity.raw,60,0)
       $CleVal("humidity_omm_avg",$obs.outHumidity.raw,0)
       $CleVal("humidity_omm_duration",60)
       #end if
       #if $obs.windSpeed.has_data       
       $CleVal("wind_omm",$obs.windSpeed.meter_per_second.raw)
       $CleCal("wind_omm_s",$obs.windSpeed.meter_per_second.raw,60)
       $CleVal("wind_omm_avg",$obs.windSpeed.meter_per_second.raw)
       $CleVal("wind_omm_duration",60)
       #end if
       #if $obs.rain.has_data
       $CleVal("rain_omm",$hour($hours_ago=$delta_h).rain.sum.mm.raw)
       $CleVal("rain_omm_sum",$hour($hours_ago=$delta_h).rain.sum.mm.raw)
       $CleVal("rain_omm_avg",$hour($hours_ago=$delta_h).rain.avg.mm.raw)
       $CleCal("rain_omm_duration",$hour($hours_ago=$delta_h).rain.count.raw,$amin)
       #end if
       "start_dat":$datef($hour($hours_ago=$delta_h).dateTime.raw)
#end if
#end if ## fin heure intermediaire
#if ($new_day or $final_obs) ## test (change jour ou final obs)
#if $final_obs ## test final obs pour calcul deltas differencies
#set $delta_h = 0
#set $delta_d = 0
#set $delta_m = 0
#set $delta_y = 0
#else ## calcule les deltas pour agregations
#set $delta_s = ($datetime_cur - $datetime_obs).seconds
#set $delta_d = ($datetime_cur - $datetime_obs).days
#set $delta_h = (($delta_d * 86400) + $delta_s) // 3600 ##+ 1
#set $date_ref = $datetime_cur.replace(hour=0,minute=0,second=0)
#set $delta_d = ($date_ref - $datetime_obs).days + 1
#set $delta_y = $datetime_cur.year - $datetime_obs.year
#set $delta_m = ($datetime_cur.year - $datetime_obs.year) * 12
#set $delta_m += $datetime_cur.month - $datetime_obs.month
#if $datetime_obs.day == 1 and $datetime_obs.hour == 0 ## test fin de mois
#set $delta_m += 1
#end if ## fin test fin de mois
#if $datetime_obs.month == 1 and $datetime_obs.day == 1 and $datetime_obs.hour == 0 ## test fin annee
#set $delta_y += 1
#end if ## fin test fin annee
#end if ## fin test final obs pour calcul deltas
#if not $new_hour or $json_level == 'D' ## dans ce cas on demarre une agregation
#if not $json_level == 'D'
       },
#end if
#if $json_valid
       "aggregations":
#else
       "validation":
#end if
       [{
       "level":"D",
       "start_dat":$datef($day($days_ago=$delta_d).dateTime.raw)
       }],
#if $json_valid
       "validation":
#else
       "aggregations":
#end if
       [{
#else
       },
       { ## sinon on ajoute les agregations superieures
#end if 
#set $aggregation_day = 1
       "level":"D",
       $CleVal("out_temp_max",$day($days_ago=$delta_d).outTemp.max.degree_C.raw)
       $CleDat("out_temp_max_time",$day($days_ago=$delta_d).outTemp.maxtime.raw)
       $CleVal("out_temp_avg",$day($days_ago=$delta_d).outTemp.avg.degree_C.raw)
       $CleCal("out_temp_s",$day($days_ago=$delta_d).outTemp.sum.degree_C.raw,$amin)
       $CleCal("out_temp_duration",$day($days_ago=$delta_d).outTemp.count.raw,$amin)
       $CleVal("out_temp_min",$day($days_ago=$delta_d).outTemp.min.degree_C.raw)
       $CleDat("out_temp_min_time",$day($days_ago=$delta_d).outTemp.mintime.raw)
#if $day($days_ago=$delta_d).soilTemp1.has_data
       $CleVal("soil_temp_min",$day($days_ago=$delta_d).soilTemp1.min.degree_C.raw)
       $CleDat("soil_temp_min_time",$day($days_ago=$delta_d).soilTemp1.mintime.raw) 
#end if     
       $CleVal("heatindex_max",$day($days_ago=$delta_d).heatindex.max.degree_C.raw)
       $CleDat("heatindex_max_time",$day($days_ago=$delta_d).heatindex.maxtime.raw)
       $CleVal("heatindex_avg",$day($days_ago=$delta_d).heatindex.avg.degree_C.raw)
       $CleCal("heatindex_s",$day($days_ago=$delta_d).heatindex.sum.degree_C.raw,$amin)
       $CleCal("heatindex_duration",$day($days_ago=$delta_d).heatindex.count.raw,$amin)
       $CleVal("windchill_min",$day($days_ago=$delta_d).windchill.min.degree_C.raw)
       $CleDat("windchill_min_time",$day($days_ago=$delta_d).windchill.mintime.raw)
       $CleCal("windchill_s",$day($days_ago=$delta_d).windchill.sum.degree_C.raw,$amin)
       $CleVal("windchill_avg",$day($days_ago=$delta_d).windchill.avg.degree_C.raw)
       $CleCal("windchill_duration",$day($days_ago=$delta_d).windchill.count.raw,$amin)
       $CleVal("humidity_max",$day($days_ago=$delta_d).outHumidity.max.raw)
       $CleDat("humidity_max_time",$day($days_ago=$delta_d).outHumidity.maxtime.raw)
       $CleCal("humidity_s",$day($days_ago=$delta_d).outHumidity.sum.raw,$amin)
       $CleVal("humidity_avg",$day($days_ago=$delta_d).outHumidity.avg.raw)
       $CleVal("humidity_min",$day($days_ago=$delta_d).outHumidity.min.raw)
       $CleDat("humidity_min_time",$day($days_ago=$delta_d).outHumidity.mintime.raw)
       $CleCal("humidity_duration",$day($days_ago=$delta_d).outHumidity.count.raw,$amin)
       $CleVal("dewpoint_max",$day($days_ago=$delta_d).dewpoint.max.degree_C.raw)
       $CleDat("dewpoint_max_time",$day($days_ago=$delta_d).dewpoint.maxtime.raw)
       $CleCal("dewpoint_s",$day($days_ago=$delta_d).dewpoint.sum.degree_C.raw,$amin)
       $CleVal("dewpoint_avg",$day($days_ago=$delta_d).dewpoint.avg.degree_C.raw)
       $CleVal("dewpoint_min",$day($days_ago=$delta_d).dewpoint.min.degree_C.raw)
       $CleDat("dewpoint_min_time",$day($days_ago=$delta_d).dewpoint.mintime.raw)
       $CleCal("dewpoint_duration",$day($days_ago=$delta_d).dewpoint.count.raw,$amin)
       $CleVal("barometer_max",$day($days_ago=$delta_d).barometer.max.hPa.raw)
       $CleDat("barometer_max_time",$day($days_ago=$delta_d).barometer.maxtime.raw)
       $CleCal("barometer_s",$day($days_ago=$delta_d).barometer.sum.hPa.raw,$amin)
       $CleVal("barometer_avg",$day($days_ago=$delta_d).barometer.avg.hPa.raw)
       $CleVal("barometer_min",$day($days_ago=$delta_d).barometer.min.hPa.raw)
       $CleDat("barometer_min_time",$day($days_ago=$delta_d).barometer.mintime.raw)
       $CleCal("barometer_duration",$day($days_ago=$delta_d).barometer.count.raw,$amin)
       $CleVal("pressure_max",$day($days_ago=$delta_d).pressure.max.hPa.raw)
       $CleDat("pressure_max_time",$day($days_ago=$delta_d).pressure.maxtime.raw)
       $CleCal("pressure_s",$day($days_ago=$delta_d).pressure.sum.hPa.raw,$amin)
       $CleVal("pressure_avg",$day($days_ago=$delta_d).pressure.avg.hPa.raw)
       $CleVal("pressure_min",$day($days_ago=$delta_d).pressure.min.hPa.raw)
       $CleDat("pressure_min_time",$day($days_ago=$delta_d).pressure.mintime.raw)
       $CleCal("pressure_duration",$day($days_ago=$delta_d).pressure.count.raw,$amin)
       $CleVal("rain_sum",$day($days_ago=$delta_d).rain.sum.mm.raw)
       $CleVal("rain_max",$day($days_ago=$delta_d).rain.max.mm.raw)
       $CleDat("rain_max_time",$day($days_ago=$delta_d).rain.maxtime.raw)
       $CleVal("rain_avg",$day($days_ago=$delta_d).rain.avg.mm.raw)
       $CleVal("rain_min",$day($days_ago=$delta_d).rain.min.mm.raw)
       $CleDat("rain_min_time",$day($days_ago=$delta_d).rain.mintime.raw)  
       $CleCal("rain_duration",$day($days_ago=$delta_d).rain.count.raw,$amin)
       ## calcul sum rr de 07h le jour a 07h le lendemain
       #set $sum = 0
       #set $count = 0
       #for $hr in $day($days_ago=$delta_d).hours
       #if datetime.fromtimestamp($hr.dateTime.raw).hour >= 7 and $hr.rain.sum.raw is not None
       #set $sum += $hr.rain.sum.mm.raw
       #set $count += 1
       #set $h=datetime.fromtimestamp($hr.dateTime.raw).hour
       #end if
       #end for
       #if $delta_d > 0
       #for $hr in $day($days_ago=$delta_d - 1).hours
       #if datetime.fromtimestamp($hr.dateTime.raw).hour < 7 and $hr.rain.sum.raw is not None
       #set $sum += $hr.rain.sum.mm.raw
       #set $count += 1
       #set $h=datetime.fromtimestamp($hr.dateTime.raw).hour
       #end if
       #end for
       #end if
       #if $count == 0
       #set $rain_omm_sum = None
       #else
       #set $rain_omm_sum = $sum
       #end if
       ## fin calcul rr omm
       $CleVal("rain_omm_sum",$rain_omm_sum)
       ## calcul min temp de 19h la veille a 19h le jour
       #set $min = 1000
       #set $count = 0
       #for $hr in $day($days_ago=$delta_d + 1).hours
       #if datetime.fromtimestamp($hr.dateTime.raw).hour >= 19 and $hr.outTemp.min.raw is not None
       #if $hr.outTemp.min.degree_C.raw < $min
       #set $min = $hr.outTemp.min.degree_C.raw
       #set $min_time = $hr.outTemp.mintime.raw
       #set $count += 1
       #end if 
       #end if
       #end for
       #for $hr in $day($days_ago=$delta_d).hours
       #if datetime.fromtimestamp($hr.dateTime.raw).hour < 19 and $hr.outTemp.min.raw is not None
       #if $hr.outTemp.min.degree_C.raw < $min
       #set $min = $hr.outTemp.min.degree_C.raw
       #set $min_time = $hr.outTemp.mintime.raw
       #set $count += 1
       #end if 
       #end if
       #end for
       #if $count == 0
       #set $out_temp_omm_min = None
       #set $out_temp_omm_mintime = None
       #else
       #set $out_temp_omm_min = $min
       #set $out_temp_omm_mintime = $min_time
       #end if
       ## fin calcul min temp omm
       $CleVal("out_temp_omm_min",$out_temp_omm_min)
       $CleDat("out_temp_omm_min_time",$out_temp_omm_mintime)
       ## calcul max temp de 7h le jour a 7h le lendemain
       #set $max = -1000
       #set $count = 0
       #for $hr in $day($days_ago=$delta_d).hours
       #if datetime.fromtimestamp($hr.dateTime.raw).hour >= 7 and $hr.outTemp.max.raw is not None
       #if $hr.outTemp.max.degree_C.raw > $max
       #set $max = $hr.outTemp.max.degree_C.raw
       #set $max_time = $hr.outTemp.maxtime.raw
       #set $count += 1
       #end if 
       #end if
       #end for
       #for $hr in $day($days_ago=$delta_d).hours
       #if datetime.fromtimestamp($hr.dateTime.raw).hour < 7 and $hr.outTemp.max.raw is not None
       #if $hr.outTemp.max.degree_C.raw > $max
       #set $max = $hr.outTemp.max.degree_C.raw
       #set $max_time = $hr.outTemp.maxtime.raw
       #set $count += 1
       #end if 
       #end if
       #end for
       #if $count == 0
       #set $out_temp_omm_max = None
       #set $out_temp_omm_maxtime = None
       #else
       #set $out_temp_omm_max = $max
       #set $out_temp_omm_maxtime = $max_time
       #end if
       ## fin calcul max temp omm
       $CleVal("out_temp_omm_max",$out_temp_omm_max)
       $CleDat("out_temp_omm_max_time",$out_temp_omm_maxtime)
       ## calcul moy omm de 00h le jour a 00h le lendemain
       #set $sum_temp = 0
       #set $count_temp = 0
       #set $sum_humidity = 0
       #set $count_humidity = 0
       #set $sum_humidity = 0
       #set $count_humidity = 0
       #set $sum_wind = 0
       #set $count_wind = 0
       #set $sum_barometer = 0
       #set $count_barometer = 0
       #for $hr in $day($days_ago=$delta_d).hours
       #if $hr.outTemp.last.degree_C.raw is not None
       #set $sum_temp += $hr.outTemp.last.degree_C.raw
       #set $count_temp += 1       
       #end if
       #if $hr.outHumidity.last.raw is not None
       #set $sum_humidity += $hr.outHumidity.last.raw
       #set $count_humidity += 1
       #end if
       #if $hr.windSpeed.last.raw is not None
       #set $sum_wind += $hr.windSpeed.last.meter_per_second.raw
       #set $count_wind += 1
       #end if
       #if $hr.barometer.last.raw is not None
       #set $sum_barometer += $hr.barometer.last.hPa.raw
       #set $count_barometer += 1
       #end if
       #set $h=datetime.fromtimestamp($hr.dateTime.raw).hour
       #end for
       #if $count_temp == 0
       #set $out_temp_omm_sum = None
       #else
       #set $out_temp_omm_avg = $sum_temp / $count_temp
       #end if
       #if $count_humidity == 0
       #set $humidity_omm_avg = None
       #else
       #set $humidity_omm_avg = $sum_humidity / $count_humidity
       #end if
       #if $count_wind == 0
       #set $wind_omm_sum = None
       #else
       #set $wind_omm_avg = $sum_wind / $count_wind
       #end if
       #if $count_barometer == 0
       #set $barometer_omm_avg = None
       #else
       #set $barometer_omm_avg = $sum_barometer / $count_barometer
       #end if
       ## fin calcul avg omm
       $CleVal("out_temp_omm_avg",$out_temp_omm_avg)
       $CleVal("humidity_omm_avg",$humidity_omm_avg)
       $CleVal("wind_omm_avg",$wind_omm_avg)
       $CleVal("barometer_omm_avg",$barometer_omm_avg)
       $CleVal("rain_rate_max",$day($days_ago=$delta_d).rainRate.max.mm_per_hour.raw)
       $CleDat("rain_rate_max_time",$day($days_ago=$delta_d).rainRate.maxtime.raw)
       $CleCal("rain_rate_duration",$day($days_ago=$delta_d).rainRate.count.raw,$amin)
       $CleVal("rain_rate_avg",$day($days_ago=$delta_d).rainRate.avg.mm_per_hour.raw)
       $CleVal("wind_max",$day($days_ago=$delta_d).wind.max.meter_per_second.raw)
       $CleVal("wind_max_dir",$day($days_ago=$delta_d).wind.gustdir.raw)
       $CleDat("wind_max_time",$day($days_ago=$delta_d).wind.maxtime.raw)
       $CleVal("wind_avg",$day($days_ago=$delta_d).windSpeed.avg.meter_per_second.raw)
       $CleCal("wind_s",$day($days_ago=$delta_d).windSpeed.sum.meter_per_second.raw,$amin)
       $CleCal("wind_duration",$day($days_ago=$delta_d).windSpeed.count.raw,$amin)
#if $day($days_ago=$delta_d).UV.has_data
       $CleVal("uv_indice_max",$day($days_ago=$delta_d).UV.max.raw)
       $CleDat("uv_indice_max_time",$day($days_ago=$delta_d).UV.maxtime.raw)
       $CleVal("uv_indice_avg",$day($days_ago=$delta_d).UV.avg.raw)
       $CleCal("uv_indice_s",$day($days_ago=$delta_d).UV.sum.raw,$amin)
       $CleCal("uv_indice_duration",$day($days_ago=$delta_d).UV.count.raw,$amin)
#end if
#if $day($days_ago=$delta_d).ET.has_data and $day.ET.sum.raw >0.0
       $CleVal("etp_sum",$day($days_ago=$delta_d).ET.sum.mm.raw)
       $CleVal("etp_max",$day($days_ago=$delta_d).ET.max.mm.raw)
       $CleDat("etp_max_time",$day($days_ago=$delta_d).ET.maxtime.raw)
       $CleVal("etp_avg",$day($days_ago=$delta_d).ET.avg.mm.raw)
       $CleVal("etp_min",$day($days_ago=$delta_d).ET.min.mm.raw)
       $CleDat("etp_min_time",$day($days_ago=$delta_d).ET.mintime.raw)
       $CleCal("etp_duration",$day($days_ago=$delta_d).ET.count.raw,$amin)       
#end if
#if $day($days_ago=$delta_d).radiation.has_data
       $CleCal("radiation_max",$day($days_ago=$delta_d).radiation.max.raw,0.001)
       $CleDat("radiation_max_time",$day($days_ago=$delta_d).radiation.maxtime.raw)
       $CleCal("radiation_avg",$day($days_ago=$delta_d).radiation.avg.raw,0.001)
       $CleCal("radiation_sum",$day($days_ago=$delta_d).radiation.sum.raw,$amin*0.006)
       $CleCal("radiation_min",$day($days_ago=$delta_d).radiation.min.raw,0.001)
       $CleDat("radiation_min_time",$day($days_ago=$delta_d).radiation.mintime.raw)
       $CleCal("radiation_duration",$day($days_ago=$delta_d).radiation.count.raw,$amin)
#end if
#if $day($days_ago=$delta_d).rxCheckPercent.has_data
       $CleVal("rx_max",$day($days_ago=$delta_d).rxCheckPercent.max.raw)
       $CleDat("rx_max_time",$day($days_ago=$delta_d).rxCheckPercent.maxtime.raw)
       $CleVal("rx_avg",$day($days_ago=$delta_d).rxCheckPercent.avg.raw)
       $CleCal("rx_s",$day($days_ago=$delta_d).rxCheckPercent.sum.raw,$amin)
       $CleVal("rx_min",$day($days_ago=$delta_d).rxCheckPercent.min.raw)
       $CleDat("rx_min_time",$day($days_ago=$delta_d).rxCheckPercent.mintime.raw)
       $CleCal("rx_duration",$day($days_ago=$delta_d).rxCheckPercent.count.raw,$amin)
#end if
#if $day($days_ago=$delta_d).consBatteryVoltage.has_data
       $CleVal("voltage_max",$day($days_ago=$delta_d).consBatteryVoltage.max.raw)
       $CleDat("voltage_max_time",$day($days_ago=$delta_d).consBatteryVoltage.maxtime.raw)
       $CleVal("voltage_avg",$day($days_ago=$delta_d).consBatteryVoltage.avg.raw)
       $CleCal("voltage_s",$day($days_ago=$delta_d).consBatteryVoltage.sum.raw,$amin)
       $CleVal("voltage_min",$day($days_ago=$delta_d).consBatteryVoltage.min.raw)
       $CleDat("voltage_min_time",$day($days_ago=$delta_d).consBatteryVoltage.mintime.raw)
       $CleCal("voltage_duration",$day($days_ago=$delta_d).consBatteryVoltage.count.raw,$amin)
#end if
       $CleVal("in_temp_min",$day($days_ago=$delta_d).inTemp.min.degree_C.raw)
       $CleDat("in_temp_min_time",$day($days_ago=$delta_d).inTemp.mintime.raw)
       $CleVal("in_temp_avg",$day($days_ago=$delta_d).inTemp.avg.degree_C.raw)
       $CleCal("in_temp_s",$day($days_ago=$delta_d).inTemp.sum.degree_C.raw,$amin)
       $CleVal("in_temp_max",$day($days_ago=$delta_d).inTemp.max.degree_C.raw)
       $CleDat("in_temp_max_time",$day($days_ago=$delta_d).inTemp.maxtime.raw)
       $CleCal("in_temp_duration",$day($days_ago=$delta_d).inTemp.count.raw,$amin)
       $CleVal("in_humidity_min",$day($days_ago=$delta_d).inHumidity.min.raw)
       $CleDat("in_humidity_min_time",$day($days_ago=$delta_d).inHumidity.mintime.raw)
       $CleVal("in_humidity_avg",$day($days_ago=$delta_d).inHumidity.avg.raw)
       $CleCal("in_humidity_s",$day($days_ago=$delta_d).inHumidity.sum.raw,$amin)
       $CleVal("in_humidity_max",$day($days_ago=$delta_d).inHumidity.max.raw)
       $CleDat("in_humidity_max_time",$day($days_ago=$delta_d).inHumidity.maxtime.raw)
       $CleCal("in_humidity_duration",$day($days_ago=$delta_d).inHumidity.count.raw,$amin)
       "start_dat":$datef($day($days_ago=$delta_d).dateTime.raw)
#if ($new_month or $final_obs) ## test (change mois ou final obs)
#set $aggregation_month = 1
        },
       {
       "level":"M",
       $CleVal("out_temp_max",$month($months_ago=$delta_m).outTemp.max.degree_C.raw)
       $CleDat("out_temp_max_time",$month($months_ago=$delta_m).outTemp.maxtime.raw)
       $CleVal("out_temp_avg",$month($months_ago=$delta_m).outTemp.avg.degree_C.raw)
       $CleCal("out_temp_s",$month($months_ago=$delta_m).outTemp.sum.degree_C.raw,$amin)
       $CleVal("out_temp_min",$month($months_ago=$delta_m).outTemp.min.degree_C.raw)
       $CleDat("out_temp_min_time",$month($months_ago=$delta_m).outTemp.mintime.raw)
       $CleCal("out_temp_duration",$month($months_ago=$delta_m).outTemp.count.raw,$amin)
#if $month($months_ago=$delta_m).soilTemp1.has_data
       $CleVal("soil_temp_min",$month($months_ago=$delta_m).soilTemp1.min.degree_C.raw)
       $CleDat("soil_temp_min_time",$month($months_ago=$delta_m).soilTemp1.mintime.raw) 
#end if     
       $CleVal("heatindex_max",$month($months_ago=$delta_m).heatindex.max.degree_C.raw)
       $CleDat("heatindex_max_time",$month($months_ago=$delta_m).heatindex.maxtime.raw)
       $CleVal("heatindex_avg",$month($months_ago=$delta_m).heatindex.avg.degree_C.raw)
       $CleCal("heatindex_s",$month($months_ago=$delta_m).heatindex.sum.degree_C.raw,$amin)
       $CleCal("heatindex_duration",$month($months_ago=$delta_m).heatindex.count.raw,$amin)
       $CleVal("windchill_min",$month($months_ago=$delta_m).windchill.min.degree_C.raw)
       $CleDat("windchill_min_time",$month($months_ago=$delta_m).windchill.mintime.raw)
       $CleCal("windchill_s",$month($months_ago=$delta_m).windchill.sum.degree_C.raw,$amin)
       $CleVal("windchill_avg",$month($months_ago=$delta_m).windchill.avg.degree_C.raw)
       $CleCal("windchill_duration",$month($months_ago=$delta_m).windchill.count.raw,$amin)
       $CleVal("humidity_max",$month($months_ago=$delta_m).outHumidity.max.raw)
       $CleDat("humidity_max_time",$month($months_ago=$delta_m).outHumidity.maxtime.raw)
       $CleCal("humidity_s",$month($months_ago=$delta_m).outHumidity.sum.raw,$amin)
       $CleVal("humidity_avg",$month($months_ago=$delta_m).outHumidity.avg.raw)
       $CleVal("humidity_min",$month($months_ago=$delta_m).outHumidity.min.raw)
       $CleDat("humidity_min_time",$month($months_ago=$delta_m).outHumidity.mintime.raw)
       $CleCal("humidity_duration",$month($months_ago=$delta_m).outHumidity.count.raw,$amin)
       $CleVal("dewpoint_max",$month($months_ago=$delta_m).dewpoint.max.degree_C.raw)
       $CleDat("dewpoint_max_time",$month($months_ago=$delta_m).dewpoint.maxtime.raw)
       $CleCal("dewpoint_s",$month($months_ago=$delta_m).dewpoint.sum.degree_C.raw,$amin)
       $CleVal("dewpoint_avg",$month($months_ago=$delta_m).dewpoint.avg.degree_C.raw)
       $CleVal("dewpoint_min",$month($months_ago=$delta_m).dewpoint.min.degree_C.raw)
       $CleDat("dewpoint_min_time",$month($months_ago=$delta_m).dewpoint.mintime.raw)
       $CleCal("dewpoint_duration",$month($months_ago=$delta_m).dewpoint.count.raw,$amin)
       $CleVal("barometer_max",$month($months_ago=$delta_m).barometer.max.hPa.raw)
       $CleDat("barometer_max_time",$month($months_ago=$delta_m).barometer.maxtime.raw)
       $CleCal("barometer_s",$month($months_ago=$delta_m).barometer.sum.hPa.raw,$amin)
       $CleVal("barometer_avg",$month($months_ago=$delta_m).barometer.avg.hPa.raw)
       $CleVal("barometer_min",$month($months_ago=$delta_m).barometer.min.hPa.raw)
       $CleDat("barometer_min_time",$month($months_ago=$delta_m).barometer.mintime.raw)
       $CleCal("barometer_duration",$month($months_ago=$delta_m).barometer.count.raw,$amin)
       $CleVal("rain_sum",$month($months_ago=$delta_m).rain.sum.mm.raw)
       $CleVal("rain_max",$month($months_ago=$delta_m).rain.max.mm.raw)
       $CleDat("rain_max_time",$month($months_ago=$delta_m).rain.maxtime.raw)
       $CleVal("rain_avg",$month($months_ago=$delta_m).rain.avg.mm.raw)
       $CleVal("rain_min",$month($months_ago=$delta_m).rain.min.mm.raw)
       $CleCal("rain_duration",$month($months_ago=$delta_m).rain.count.raw,$amin)
       $CleDat("rain_min_time",$month($months_ago=$delta_m).rain.mintime.raw)       
       $CleVal("rain_rate_max",$month($months_ago=$delta_m).rainRate.max.mm_per_hour.raw)
       $CleDat("rain_rate_max_time",$month($months_ago=$delta_m).rainRate.maxtime.raw)
       $CleCal("rain_rate_duration",$month($months_ago=$delta_m).rainRate.count.raw,$amin)
       $CleVal("wind_max",$month($months_ago=$delta_m).wind.max.meter_per_second.raw)
       $CleVal("wind_max_dir",$month($months_ago=$delta_m).wind.gustdir.raw)
       $CleDat("wind_max_time",$month($months_ago=$delta_m).wind.maxtime.raw)
       $CleVal("wind_avg",$month($months_ago=$delta_m).windSpeed.avg.meter_per_second.raw)
       $CleCal("wind_s",$month($months_ago=$delta_m).windSpeed.sum.meter_per_second.raw,$amin)
       $CleCal("wind_duration",$month($months_ago=$delta_m).windSpeed.count.raw,$amin)
#if $month($months_ago=$delta_m).UV.has_data
       $CleVal("uv_indice_max",$month($months_ago=$delta_m).UV.max.raw)
       $CleDat("uv_indice_max_time",$month($months_ago=$delta_m).UV.maxtime.raw)
       $CleVal("uv_indice_avg",$month($months_ago=$delta_m).UV.avg.raw)
       $CleCal("uv_indice_s",$month($months_ago=$delta_m).UV.sum.raw,$amin)
       $CleCal("uv_indice_duration",$month($months_ago=$delta_m).UV.count.raw,$amin)
#end if
#if $month($months_ago=$delta_m).ET.has_data and $month($months_ago=$delta_m).ET.sum.raw >0.0
       $CleVal("etp_sum",$month($months_ago=$delta_m).ET.sum.mm.raw)
       $CleVal("etp_max",$month($months_ago=$delta_m).ET.max.mm.raw)
       $CleDat("etp_max_time",$month($months_ago=$delta_m).ET.maxtime.raw)
       $CleVal("etp_avg",$month($months_ago=$delta_m).ET.avg.mm.raw)
       $CleVal("etp_min",$month($months_ago=$delta_m).ET.min.mm.raw)
       $CleDat("etp_min_time",$month($months_ago=$delta_m).ET.mintime.raw)
       $CleCal("etp_duration",$month($months_ago=$delta_m).ET.count.raw,$amin)      
#end if
#if $month($months_ago=$delta_m).radiation.has_data
       $CleCal("radiation_max",$month($months_ago=$delta_m).radiation.max.raw,0.001)
       $CleDat("radiation_max_time",$month($months_ago=$delta_m).radiation.maxtime.raw)
       $CleCal("radiation_avg",$month($months_ago=$delta_m).radiation.avg.raw,0.001)
       $CleCal("radiation_sum",$month($months_ago=$delta_m).radiation.sum.raw,$amin*0.006)
       $CleCal("radiation_min",$month($months_ago=$delta_m).radiation.min.raw,0.001)
       $CleDat("radiation_min_time",$month($months_ago=$delta_m).radiation.mintime.raw)
       $CleCal("radiation_duration",$month($months_ago=$delta_m).radiation.count.raw,$amin)
#end if
#if $month($months_ago=$delta_m).rxCheckPercent.has_data
       $CleVal("rx_max",$month($months_ago=$delta_m).rxCheckPercent.max.raw)
       $CleDat("rx_max_time",$month($months_ago=$delta_m).rxCheckPercent.maxtime.raw)
       $CleVal("rx_avg",$month($months_ago=$delta_m).rxCheckPercent.avg.raw)
       $CleCal("rx_s",$month($months_ago=$delta_m).rxCheckPercent.sum.raw,$amin)
       $CleVal("rx_min",$month($months_ago=$delta_m).rxCheckPercent.min.raw)
       $CleDat("rx_min_time",$month($months_ago=$delta_m).rxCheckPercent.mintime.raw)
       $CleCal("rx_duration",$month($months_ago=$delta_m).rxCheckPercent.count.raw,$amin)
#end if
#if $month($months_ago=$delta_m).consBatteryVoltage.has_data
       $CleVal("voltage_max",$month($months_ago=$delta_m).consBatteryVoltage.max.raw)
       $CleDat("voltage_max_time",$month($months_ago=$delta_m).consBatteryVoltage.maxtime.raw)
       $CleVal("voltage_avg",$month($months_ago=$delta_m).consBatteryVoltage.avg.raw)
       $CleCal("voltage_s",$month($months_ago=$delta_m).consBatteryVoltage.sum.raw,$amin)
       $CleVal("voltage_min",$month($months_ago=$delta_m).consBatteryVoltage.min.raw)
       $CleDat("voltage_min_time",$month($months_ago=$delta_m).consBatteryVoltage.mintime.raw)
       $CleCal("voltage_duration",$month($months_ago=$delta_m).consBatteryVoltage.count.raw,$amin)
#end if
       $CleVal("in_temp_min",$month($months_ago=$delta_m).inTemp.min.degree_C.raw)
       $CleDat("in_temp_min_time",$month($months_ago=$delta_m).inTemp.mintime.raw)
       $CleVal("in_temp_avg",$month($months_ago=$delta_m).inTemp.avg.degree_C.raw)
       $CleCal("in_temp_s",$month($months_ago=$delta_m).inTemp.sum.degree_C.raw,$amin)
       $CleVal("in_temp_max",$month($months_ago=$delta_m).inTemp.max.degree_C.raw)
       $CleDat("in_temp_max_time",$month($months_ago=$delta_m).inTemp.maxtime.raw)
       $CleCal("in_temp_duration",$month($months_ago=$delta_m).inTemp.count.raw,$amin)
       $CleVal("in_humidity_min",$month($months_ago=$delta_m).inHumidity.min.raw)
       $CleDat("in_humidity_min_time",$month($months_ago=$delta_m).inHumidity.mintime.raw)
       $CleVal("in_humidity_avg",$month($months_ago=$delta_m).inHumidity.avg.raw)
       $CleCal("in_humidity_s",$month($months_ago=$delta_m).inHumidity.sum.raw,$amin)
       $CleVal("in_humidity_max",$month($months_ago=$delta_m).inHumidity.max.raw)
       $CleDat("in_humidity_max_time",$month($months_ago=$delta_m).inHumidity.maxtime.raw)
       $CleCal("in_humidity_duration",$month($months_ago=$delta_m).inHumidity.count.raw,$amin)
       "start_dat":$datef($month($months_ago=$delta_m).dateTime.raw)
#if ($new_year or $final_obs) ## test (change annee ou final obs)
#set $aggregation_year = 1
        },
       {
       "level":"Y",
       $CleVal("out_temp_max",$year($years_ago=$delta_y).outTemp.max.degree_C.raw)
       $CleDat("out_temp_max_time",$year($years_ago=$delta_y).outTemp.maxtime.raw)
       $CleVal("out_temp_avg",$year($years_ago=$delta_y).outTemp.avg.degree_C.raw)
       $CleCal("out_temp_s",$year($years_ago=$delta_y).outTemp.sum.degree_C.raw,$amin)
       $CleVal("out_temp_min",$year($years_ago=$delta_y).outTemp.min.degree_C.raw)
       $CleDat("out_temp_min_time",$year($years_ago=$delta_y).outTemp.mintime.raw)
       $CleCal("out_temp_duration",$year($years_ago=$delta_y).outTemp.count.raw,$amin)
#if $year($years_ago=$delta_y).soilTemp1.has_data
       $CleVal("soil_temp_min",$year($years_ago=$delta_y).soilTemp1.min.degree_C.raw)
       $CleDat("soil_temp_min_time",$year($years_ago=$delta_y).soilTemp1.mintime.raw) 
#end if     
       $CleVal("heatindex_max",$year($years_ago=$delta_y).heatindex.max.degree_C.raw)
       $CleDat("heatindex_max_time",$year($years_ago=$delta_y).heatindex.maxtime.raw)
       $CleVal("heatindex_avg",$year($years_ago=$delta_y).heatindex.avg.degree_C.raw)
       $CleCal("heatindex_s",$year($years_ago=$delta_y).heatindex.sum.degree_C.raw,$amin)
       $CleCal("heatindex_duration",$year($years_ago=$delta_y).heatindex.count.raw,$amin)
       $CleVal("windchill_min",$year($years_ago=$delta_y).windchill.min.degree_C.raw)
       $CleDat("windchill_min_time",$year($years_ago=$delta_y).windchill.mintime.raw)
       $CleCal("windchill_s",$year($years_ago=$delta_y).windchill.sum.degree_C.raw,$amin)
       $CleVal("windchill_avg",$year($years_ago=$delta_y).windchill.avg.degree_C.raw)
       $CleCal("windchill_duration",$year($years_ago=$delta_y).windchill.count.raw,$amin)
       $CleVal("humidity_max",$year($years_ago=$delta_y).outHumidity.max.raw)
       $CleDat("humidity_max_time",$year($years_ago=$delta_y).outHumidity.maxtime.raw)
       $CleCal("humidity_s",$year($years_ago=$delta_y).outHumidity.sum.raw,$amin)
       $CleVal("humidity_avg",$year($years_ago=$delta_y).outHumidity.avg.raw)
       $CleVal("humidity_min",$year($years_ago=$delta_y).outHumidity.min.raw)
       $CleDat("humidity_min_time",$year($years_ago=$delta_y).outHumidity.mintime.raw)
       $CleCal("humidity_duration",$year($years_ago=$delta_y).outHumidity.count.raw,$amin)
       $CleVal("dewpoint_max",$year($years_ago=$delta_y).dewpoint.max.degree_C.raw)
       $CleDat("dewpoint_max_time",$year($years_ago=$delta_y).dewpoint.maxtime.raw)
       $CleCal("dewpoint_s",$year($years_ago=$delta_y).dewpoint.sum.degree_C.raw,$amin)
       $CleVal("dewpoint_avg",$year($years_ago=$delta_y).dewpoint.avg.degree_C.raw)
       $CleVal("dewpoint_min",$year($years_ago=$delta_y).dewpoint.min.degree_C.raw)
       $CleDat("dewpoint_min_time",$year($years_ago=$delta_y).dewpoint.mintime.raw)
       $CleCal("dewpoint_duration",$year($years_ago=$delta_y).dewpoint.count.raw,$amin)
       $CleVal("barometer_max",$year($years_ago=$delta_y).barometer.max.hPa.raw)
       $CleDat("barometer_max_time",$year($years_ago=$delta_y).barometer.maxtime.raw)
       $CleCal("barometer_s",$year($years_ago=$delta_y).barometer.sum.hPa.raw,$amin)
       $CleVal("barometer_avg",$year($years_ago=$delta_y).barometer.avg.hPa.raw)
       $CleVal("barometer_min",$year($years_ago=$delta_y).barometer.min.hPa.raw)
       $CleDat("barometer_min_time",$year($years_ago=$delta_y).barometer.mintime.raw)
       $CleCal("barometer_duration",$year($years_ago=$delta_y).barometer.count.raw,$amin)
       $CleVal("rain_sum",$year($years_ago=$delta_y).rain.sum.mm.raw)
       $CleVal("rain_max",$year($years_ago=$delta_y).rain.max.mm.raw)
       $CleDat("rain_max_time",$year($years_ago=$delta_y).rain.maxtime.raw)
       $CleVal("rain_avg",$year($years_ago=$delta_y).rain.avg.mm.raw)
       $CleVal("rain_min",$year($years_ago=$delta_y).rain.min.mm.raw)
       $CleDat("rain_min_time",$year($years_ago=$delta_y).rain.mintime.raw)       
       $CleCal("rain_duration",$year($years_ago=$delta_y).rain.count.raw,$amin)
       $CleVal("rain_rate_max",$year($years_ago=$delta_y).rainRate.max.mm_per_hour.raw)
       $CleDat("rain_rate_max_time",$year($years_ago=$delta_y).rainRate.maxtime.raw)
       $CleCal("rain_rate_duration",$year($years_ago=$delta_y).rainRate.count.raw,$amin)
       $CleVal("wind_max",$year($years_ago=$delta_y).wind.max.meter_per_second.raw)
       $CleVal("wind_max_dir",$year($years_ago=$delta_y).wind.gustdir.raw)
       $CleDat("wind_max_time",$year($years_ago=$delta_y).wind.maxtime.raw)
       $CleVal("wind_avg",$year($years_ago=$delta_y).windSpeed.avg.meter_per_second.raw)
       $CleCal("wind_s",$year($years_ago=$delta_y).windSpeed.sum.meter_per_second.raw,$amin)
       $CleCal("wind_duration",$year($years_ago=$delta_y).windSpeed.count.raw,$amin)
#if $year($years_ago=$delta_y).UV.has_data
       $CleVal("uv_indice_max",$year($years_ago=$delta_y).UV.max.raw)
       $CleDat("uv_indice_max_time",$year($years_ago=$delta_y).UV.maxtime.raw)
       $CleVal("uv_indice_avg",$year($years_ago=$delta_y).UV.avg.raw)
       $CleCal("uv_indice_s",$year($years_ago=$delta_y).UV.sum.raw,$amin)
       $CleCal("uv_indice_duration",$year($years_ago=$delta_y).UV.count.raw,$amin)
#end if
#if $year($years_ago=$delta_y).ET.has_data and $year($years_ago=$delta_y).ET.sum.raw >0.0
       $CleVal("etp_sum",$year($years_ago=$delta_y).ET.sum.mm.raw)
       $CleVal("etp_max",$year($years_ago=$delta_y).ET.max.mm.raw)
       $CleDat("etp_max_time",$year($years_ago=$delta_y).ET.maxtime.raw)
       $CleVal("etp_avg",$year($years_ago=$delta_y).ET.avg.mm.raw)
       $CleVal("etp_min",$year($years_ago=$delta_y).ET.min.mm.raw)
       $CleDat("etp_min_time",$year($years_ago=$delta_y).ET.mintime.raw)
       $CleCal("etp_duration",$year($years_ago=$delta_y).ET.count.raw,$amin)      
#end if
#if $year($years_ago=$delta_y).radiation.has_data
       $CleCal("radiation_max",$year($years_ago=$delta_y).radiation.max.raw,0.001)
       $CleDat("radiation_max_time",$year($years_ago=$delta_y).radiation.maxtime.raw)
       $CleCal("radiation_avg",$year($years_ago=$delta_y).radiation.avg.raw,0.001)
       $CleCal("radiation_sum",$year($years_ago=$delta_y).radiation.sum.raw,$amin*0.006)
       $CleCal("radiation_min",$year($years_ago=$delta_y).radiation.min.raw,0.001)
       $CleDat("radiation_min_time",$year($years_ago=$delta_y).radiation.mintime.raw)
       $CleCal("radiation_duration",$year($years_ago=$delta_y).radiation.count.raw,$amin)
#end if
#if $year($years_ago=$delta_y).rxCheckPercent.has_data
       $CleVal("rx_max",$year($years_ago=$delta_y).rxCheckPercent.max.raw)
       $CleDat("rx_max_time",$year($years_ago=$delta_y).rxCheckPercent.maxtime.raw)
       $CleVal("rx_avg",$year($years_ago=$delta_y).rxCheckPercent.avg.raw)
       $CleCal("rx_s",$year($years_ago=$delta_y).rxCheckPercent.sum.raw,$amin)
       $CleVal("rx_min",$year($years_ago=$delta_y).rxCheckPercent.min.raw)
       $CleDat("rx_min_time",$year($years_ago=$delta_y).rxCheckPercent.mintime.raw)
       $CleCal("rx_duration",$year($years_ago=$delta_y).rxCheckPercent.count.raw,$amin)
#end if
#if $year($years_ago=$delta_y).consBatteryVoltage.has_data
       $CleVal("voltage_max",$year($years_ago=$delta_y).consBatteryVoltage.max.raw)
       $CleDat("voltage_max_time",$year($years_ago=$delta_y).consBatteryVoltage.maxtime.raw)
       $CleVal("voltage_avg",$year($years_ago=$delta_y).consBatteryVoltage.avg.raw)
       $CleCal("voltage_s",$year($years_ago=$delta_y).consBatteryVoltage.sum.raw,$amin)
       $CleVal("voltage_min",$year($years_ago=$delta_y).consBatteryVoltage.min.raw)
       $CleDat("voltage_min_time",$year($years_ago=$delta_y).consBatteryVoltage.mintime.raw)
       $CleCal("voltage_duration",$year($years_ago=$delta_y).consBatteryVoltage.count.raw,$amin)
#end if
       $CleVal("in_temp_min",$year($years_ago=$delta_y).inTemp.min.degree_C.raw)
       $CleDat("in_temp_min_time",$year($years_ago=$delta_y).inTemp.mintime.raw)
       $CleVal("in_temp_avg",$year($years_ago=$delta_y).inTemp.avg.degree_C.raw)
       $CleCal("in_temp_s",$year($years_ago=$delta_y).inTemp.sum.degree_C.raw,$amin)
       $CleVal("in_temp_max",$year($years_ago=$delta_y).inTemp.max.degree_C.raw)
       $CleDat("in_temp_max_time",$year($years_ago=$delta_y).inTemp.maxtime.raw)
       $CleCal("in_temp_duration",$year($years_ago=$delta_y).inTemp.count.raw,$amin)
       $CleVal("in_humidity_min",$year($years_ago=$delta_y).inHumidity.min.raw)
       $CleDat("in_humidity_min_time",$year($years_ago=$delta_y).inHumidity.mintime.raw)
       $CleVal("in_humidity_avg",$year($years_ago=$delta_y).inHumidity.avg.raw)
       $CleCal("in_humidity_s",$year($years_ago=$delta_y).inHumidity.sum.raw,$amin)
       $CleVal("in_humidity_max",$year($years_ago=$delta_y).inHumidity.max.raw)
       $CleDat("in_humidity_max_time",$year($years_ago=$delta_y).inHumidity.maxtime.raw)
       $CleCal("in_humidity_duration",$year($years_ago=$delta_y).inHumidity.count.raw,$amin)
       "start_dat":$datef($year($years_ago=$delta_y).dateTime.raw)
#end if ## fin test change annee ou final obs
#if $aggregation_year == 1
        ##si agregation year on referme apres $year
       }]#slurp
#end if
#if $aggregation_month == 1 and $aggregation_year == 0
        ##si seulement agregation month on referme apres $year
       }]#slurp
#end if
#end if ## fin test change mois ou final obs
#if $aggregation_day == 1 and $aggregation_month == 0
        ##si seulement agregation day on referme apres $day
       }]#slurp
#end if
#end if ## fin test change jour ou final obs
#if $aggregation_hour == 1 and $aggregation_day == 0
        ##si seulement agregation hour on referme apres $hour
       }]#slurp
#end if
#end if ## fin test change heure ou final obs
#set $datetime_obs_prev = $datetime_obs ## garde en memoire obs traitee
#end for ## fin boucle obs       
#if $aggregation_hour == 0 and $aggregation_day == 0 and $aggregation_month == 0 and $aggregation_year == 0 and $final_obs 
        ## si aucune agregation faut refermer current
       }#slurp
#end if

     }
   ]
}
]
