.project
.pydevproject
.settings
.DS_Store
.venv
db.sqlite3
db.sqlite3-journal
Clim_MeteoR/settings.py
app/tests/functional/settings.py
static/**/*.png
data/**/*.csv
*.pyc
/static/
/media/
/media/data/
__pycache__/

htmlcov
coverage.xml
.coverage

data/json_not_in_git/
data/json_auto_load/
