{% extends 'gestion/base.html' %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <h1>Accueil - MétéoR OI</h1>

    <h2>Ajouter des stations ou des capteurs</h2>

    <ul>
        <li><a href="{% url 'stations_ajout' %}">Ajouter une station et charger ses archives</a></li>
        <li>
            <form method="post" action="" class="form-inline">
                {% csrf_token %}
                <label class="my-1 mr-2" for="initInstrumentStation">Initialiser les instruments d'une station :</label>
                <select name="codeposte_instrument" size="1" id="initInstrumentStation" class="custom-select my-1 mr-sm-2">
                    {% for station in liste %}
                        <option>{{station}}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Envoyer" class="btn btn-primary my-1" />
            </form>
        </li>
    </ul>

    <p class="small">
        <strong>A améliorer</strong> : Gestion d'erreurs, liste pré-remplie pour les villes.
        Page permettant de modifier les infos stations. Mise à jour de la table Maintenance.
    <p>

    <h2>Relevés manuels (SPIEA)</h2>
    <ul>
        <li><a href="{% url 'donnees_manuel_ajout' %}">Ajouter un relevé manuel pluviométrique SPIEA + Affichage graphique</a></li>
    </ul>
    <p class="small">
        <strong>A améliorer</strong> : Ajouter la possibilité d'envoyer des cumuls infra-horaire.
        Ajouter de nouvelles données extraites (record etc). Possibilité de rectification ?
    </p>

    <h2>Affichage graphique</h2>

    <ul>
        <li>
            <form method="post" class="form-inline">
                {% csrf_token %}
                <label class="my-1 mr-2" for="stationDonneesInst">Données instantanées :</label>
                    <select name="codeposte_instan" size="1" id="stationDonneesInst" class="custom-select my-1 mr-sm-2">
                        {% for station in liste %}
                            <option>{{station}}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Envoyer" class="btn btn-primary my-1" />
            </form>
        </li>

        <li>
        <form method="post" class="form-inline">
            {% csrf_token %}
            <label class="my-1 mr-2" for="stationRecapJ">Récapitulatif journalier :</label>
                <select name="codeposte_recapj" size="1" class="custom-select my-1 mr-sm-2" id="stationRecapJ">
                    {% for station in liste %}
                        <option>{{station}}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Envoyer" class="btn btn-primary my-1" />
        </form>
        </li>
        <li>
        <form method="post" class="form-inline">
            {% csrf_token %}
            <label class="my-1 mr-2" for="stationRecapM">Récapitulatif mensuel :</label>
                <select name="codeposte_recapm" size="1" class="custom-select my-1 mr-sm-2" id="stationRecapM">
                    {% for station in liste %}
                        <option>{{station}}</option>
                    {% endfor %}
                </select>
            <input type="submit" value="Envoyer" class="btn btn-primary my-1" />
        </form>
        </li>
    </ul>

    <p class="small">
        <strong>A améliorer</strong> : Ajouter de meilleures interfaces graphiques. Ne pas lister les stations SPIEA.
        Ajouter de nouvelles données extraites intéressantes + records.
    </p>

    <h2>Rapport périodique</h2>

    <ul>
        <li>
            <form method="post" class="form-inline">
                {% csrf_token %}
                <label class="my-1 mr-2" for="stationRapportMensuel">Rapport mensuel :</label>
                <select name="codeposte_rapportm" size="1" id="stationRapportMensuel" class="custom-select my-1 mr-sm-2">
                    {% for station in liste %}
                        <option>{{station}}</option>
                    {% endfor %}
                </select>
                <label class="my-1 mr-2 ml-2" for="stationRapportMensuelMois">Mois : </label>
                <select name="rapportmois" size="1" id="stationRapportMensuelMois" class="custom-select my-1 mr-sm-2">
                        <option value="1">Janvier</option>
                        <option value="2">Février</option>
                        <option value="3">Mars</option>
                        <option value="4">Avril</option>
                        <option value="5">Mai</option>
                        <option value="6">Juin</option>
                        <option value="7">Juillet</option>
                        <option value="8">Août</option>
                        <option value="9">Septembre</option>
                        <option value="10">Octobre</option>
                        <option value="11">Novembre</option>
                        <option value="12">Décembre</option>
                </select>

                <label class="my-1 mr-2 ml-2" for="stationRapportMensuelAnnee">Année : </label>
                    <input id="stationRapportMensuelAnnee" name="rapportmoisannee" type="text" class="form-control" />
                <input type="submit" value="Envoyer" class="btn btn-primary my-1 ml-2" />
            </form>
        </li>

        <li>
            <form method="post" class="form-inline">
                {% csrf_token %}
                <label class="my-1 mr-2" for="stationRapportAnnuel">Rapport annuel : </label> 
                <select name="codeposte_rapporta" size="1" id="stationRapportAnnuel" class="custom-select my-1 mr-sm-2">
                    {% for station in liste %}
                        <option>{{station}}</option>
                    {% endfor %}
                </select>
                <label class="my-1 mr-2 ml-2" for="stationRapportAnnuelAnnee">Année : </label>
                    <input id="stationRapportAnnuelAnnee" name="rapportannee" type="text" class="form-control" />
                <input type="submit" value="Envoyer" class="btn btn-primary my-1 ml-2" />
            </form>
        </li>
    </ul>

    <p class="small">
        <strong>A améliorer</strong> : (Revérifier la justesse des données affichées).
        Ajouter plus de données extraites avec des comparaisons aux records.
    </p>

    <h2>Extraction de données</h2>

    <form method="post">
        {% csrf_token %}
        <div class="form-row mb-2">
            <div class="col-2 mx-3">
                <label class="my-1 mx-3" for="extractionStation">Station : </label>
                <select name="codeposte_extraction" id="extractionStation" size="1" class="custom-select mr-sm-2">
                    {% for station in liste %}
                        <option>{{station}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-3">
                <label class="my-1 mr-2 ml-2" for="extractionStationDebut">Date de début : </label>
                <input id="extractionStationDebut" name="debutextraction" type="text" value="HH:MM JJ/MM/AAAA"  class="form-control"/>
            </div>
            <div class="col-3">
                <label class="my-1 mr-2 ml-2" for="extractionStationFin">Date de fin : </label>
                <input id="extractionStationFin" name="finextraction" type="text" value="HH:MM JJ/MM/AAAA"  class="form-control"/>
            </div>
            <div class="col">
                <input type="submit" value="Extraire" class="btn btn-primary mt-4 ml-2 px-5" />
             </div>
        </div>
    </form>

    {% if converti %}
        Votre fichier a été conveti. Le <a href="{{link}}" download="{{codeposte_extraction}}">télécharger.</a>
    {% endif %}

    <h2>Ajout et affichage graphique d'évènements </h2>

    <ul>
        <li>Créer un nouvel évènement :
            <form method="post" >
                {% csrf_token %}
                    Nom de l'évènement: <input id="nom_evenement" name="nom_evenement" type="text" />
                    - Début  : <input id="debut_evenement" name="debut_evenement" type="text" value ="HH:MM JJ/MM/AAAA"/>
                    - Fin  : <input id="fin_evenement" name="fin_evenement" type="text" value ="HH:MM JJ/MM/AAAA"/>
                <br/>
                Type de l'évènement :
                <select name="type_evenement" size="1">
                    {% for ev in liste_type_ev %}
                        <option>{{ev}}</option>
                    {% endfor %}
                </select>
        
                <input type="submit" value="Envoyer" />
            </form>
        </li>
        <li>Ajouter un poste à un évènement :
            <form method="post" >
                {% csrf_token %}
                Nom de l'évènement:
                <select name="nom_evenementposte" size="1">
                    {% for ev in liste_evenement %}
                        <option>{{ev}}</option>
                    {% endfor %}
                </select>
                -  Nom du poste: 
                <select name="codeposte_evenement" size="1">
                    {% for station in liste %}
                        <option>{{station}}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Envoyer" />
            </form>
        </li>

        <li>Affichage d'évènements : <br/>
            Choix de l'évènement :
            <form method="post">
                {% csrf_token %}
                <select name="affichage_evenement" size="1">
                    {% for ev in liste_evenement %}
                        <option>{{ev}}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Envoyer" />
            </form>
        </li>
    </ul>

    {% if choixevenement %}
        Evenement {{nom_evenement_choisi}} du {{debut_evenement_choisi}} au {{fin_evenement_choisi}}: <br/>
        Rapport complet de l'évènement:  
        <br/>
        - Postes concernés (affichage graphique): <br/>
        {% for poste_ev in liste_evenement_poste %}
            <li><a href="recap/ev/{{nom_evenement_choisi}}/{{poste_ev}}">{{poste_ev}}</a>
        {% endfor %}
    {% endif %}
    <p class="small">
        <strong>A améliorer</strong> : Ajouter plus de données extraites.  création de rapports selon type d'évènements.
    </p>
{% endblock %}