<!DOCTYPE html>
<html lang="fr">
    {% load static %}

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="{% static 'favicon.png' %}">
        <title>{% block title %}{% endblock %} - MétéoR OI</title>


        {% block css %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
        {% endblock css %}

    </head>
    <body>

    {% block header %}
    <header role="banner">


    </header>
    {% endblock %}

    <main role="main" class="container pb2 pl2 pr4 pb4" id="content" style="max-width:85%">
    {% block content %}

    {% endblock %}
    </main>

    {% block script %}
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    {% endblock script %}

    </body>
</html>

