{% extends 'gestion/base.html' %}

{% block title %}Initialisation d'un poste{% endblock %}

{% block content %}

{% if envoi %}Vos données de "{{CODE_POSTE}}" ont bien été envoyées !<br/>
{% endif %}

<h1>Initialisation du poste</h1>

Veuillez entrer toutes les informations sur la station : <br/>
Les champs précédés par un * sont obligatoires.


<div class="container mb-4">
  <div class="row">
    <div class="col">

    </div>
    <div class="col-8">
        {{form.errors}}
        {{form.non_form_errors}}
        <form action="." method="post" enctype="multipart/form-data">
            
            {% csrf_token %}
            
            {{ form.as_boostrap }}
        
            <input type="submit" value="Créer le poste" class="btn btn-primary" />
        
        </form>
    </div>
    <div class="col">

    </div>
  </div>
</div>


{% endblock %}