{% load static %}
<html>
<head>
    <title> Rapport évènement </title>
</head>
 
<body>
 
 Liste déroulante de graphiques  de toutes les stations par paramètre :
 Cyclone : 
 (complet)
- FF DD
- FXI DXI
- RR + RRI
- PMER
 (échelle comparative)
 
 (moins détaillé)
- T
 
 Front froid : 
  (complet)
- RR + RRI
- T

 
 (moins détaillé)
- FF DD
 - FXI DXI
- PMER
  


Tableau top stations à récupérer dans le recapEvenement.


Possibilité de superposer des graphs de plusieurs stations ?

 
 
  <a href ="../accueil">Accueil</a>
 
</body>
</html>