{% load static %}
<h1>MeteoR-OI</h1>
<h2>Affichage graphique - Récapitulatif</h2>

<h2>{{codeposte}} : Episode {{codeevenement}} du {{Debut}} au {{Fin}}</h2>


    </br>
 
<table rules=cols border=5 ><tr><td>

<table><tr><td colspan=2>
<img src="/{{ linkT }}" />
</td></tr><tr><td>
<li>T moyenne : {{MoyTemp}}°C </br>
<li>Tx : {{Tx}}°C à {{DateTx}}</br>
<li>Tn : {{Tn}}°C à {{DateTn}}</td><td>
<li>IC max : {{ICmax}}°C </br>
<li>Windchill absolu : {{WINDCHILLmax}}°C </br>
</td></tr></table>

</td><td>
    

<table><tr><td>
<img src="/{{ linkRR }}" />
</td></tr><tr><td>
<li>Cumul : {{cumultotal}}mm </br>
<li>Cumul 1h max : {{cumulmax}}mm à {{cumulmaxH}}</br>
<li>Intensité max : {{maxRRI}}mm/h à  {{hrmaxRRI}}  </br>
</td></tr> </table>

</td><td>
  
 
<table><tr><td>
 <img src="/{{ linkPMER }}" />  
 </td></tr><tr><td>
<li>Pression moyenne : {{pmoy}}hPa</br>
 <li>Pression max : {{pmax}}hPa</br>
 <li>Pression min : {{pmin}}hPa à {{hpmin}}
 </td></tr></table>  
  
    
    
</td></tr><tr><td>


<table><tr><td>
<img src="/{{ linkFF }}" />
</td></tr><tr><td>
<li>Vent moyen max:  {{ventmoyenmax}}km/h</br>
<li>Rafale max : {{rafmax}}km/h à {{hrrafmax}}</br>
</td></tr>    
</table>


</td><td>


<table><tr><td>
<img src="/{{ linkDD2 }}" />
</td></tr><tr><td>
</td></tr>    
</table>
 
</td><td>
    
    
<table><tr><td>
</td></tr>    
</table>
    
</td></tr></table>

<h2>Résumé de l'épisode - Comparaison des stations concernées</h2>
<h3>Top 10</h3>

<table width="80%"><tr><td>
<li><b>Cumuls sur l 'épisode: </b>
<table border=1>
    
<tr><td><center><b>Cumul</b></center></td><td><center><b>Station</b></center></td></tr>
{% for cumul in liste_cumul%}
<tr><td><p style="color:{{cumul.2}}";>{{cumul.0}} mm</p></td><td>{{cumul.1}}</td></tr>
{% endfor %}
</table>
</td><td>

<li><b>Cumuls sur 1h: </b>
<table border=1>
    
<tr><td><center><b>Cumul</b></center></td><td><center><b>Heure</b></center></td><td><center><b>Station</b></center></td></tr>
{% for rr in liste_cumul1h%}
<tr><td><p style="color:{{rr.3}}";>{{rr.0}}mm</p></td><td>le {{rr.1}}</td><td>{{rr.2}}</td></tr>
{% endfor %}
</table>

</td><td>

<li><b>Intensités: </b>
<table border=1>
    
<tr><td><center><b>Intensité</b></center></td><td><center><b>Heure</b></center></td><td><center><b>Station</b></center></td></tr>
{% for rri in liste_RRI%}
<tr><td><p style="color:{{rri.3}}";>{{rri.0}}mm/h</p></td><td>le {{rri.1}}</td><td>{{rri.2}}</td></tr>
{% endfor %}
</table>

</td><td>

<li><b>Rafales: </b>
<table border=1>
    
<tr><td><center><b>Rafale</b></center></td><td><center><b>Heure</b></center></td><td><center><b>Station</b></center></td></tr>
{% for raf in liste_FXI%}
<tr><td><p style="color:{{raf.3}}";>{{raf.0}}km/h</p></td><td>le {{raf.1}}</td><td>{{raf.2}}</td></tr>
{% endfor %}
</table>


</td></tr><tr><td>

<li><b>TX: </b>
<table border=1>
    
<tr><td><center><b>TX</b></center></td><td><center><b>Heure</b></center></td><td><center><b>Station</b></center></td></tr>
{% for TX in liste_TX%}
<tr><td><p style="color:{{TX.3}}";>{{TX.0}}°C</p></td><td>le {{TX.1}}</td><td>{{TX.2}}</td></tr>
{% endfor %}
</table>

</td><td>

<li><b>TN: </b>
<table border=1>
    
<tr><td><center><b>TN</b></center></td><td><center><b>Heure</b></center></td><td><center><b>Station</b></center></td></tr>
{% for TN in liste_TN%}
<tr><td><p style="color:{{TN.3}}";>{{TN.0}}°C</p></td><td>le {{TN.1}}</td><td>{{TN.2}}</td></tr>
{% endfor %}
</table>

</td><td>

<li><b>UX: </b>
<table border=1>
    
<tr><td><center><b>UX</b></center></td><td><center><b>Heure</b></center></td><td><center><b>Station</b></center></td></tr>
{% for UX in liste_UX%}
<tr><td><p style="color:{{UX.3}}";>{{UX.0}}%</p></td><td>le {{UX.1}}</td><td>{{UX.2}}</td></tr>
{% endfor %}
</table>

</td><td>

<li><b>UN: </b>
<table border=1>
    
<tr><td><center><b>UN</b></center></td><td><center><b>Heure</b></center></td><td><center><b>Station</b></center></td></tr>
{% for UN in liste_UN%}
<tr><td><p style="color:{{UN.3}}";>{{UN.0}}%</p></td><td>le {{UN.1}}</td><td>{{UN.2}}</td></tr>
{% endfor %}
</table>


</td></tr></table>
  <a href ="../../../../accueil">Accueil</a>