#encoding UTF-8
#def get_battery_status($x)
#if $x == 0
OK#slurp
#else
LOW#slurp
#end if
#end def
#def round($x,$y)
#set $res = round($x,$y)
$res#slurp
#end def
{
  "meteor" : "$BootstrapLabels.station_id",
  "info" : {
     "title":"Météo en direct",
     "location":"$station.location",
     "time":"$current.dateTime.formatted",
     "lat":"$station.latitude[0] $station.latitude[1]' $station.latitude[2]",
     "lon":"$station.longitude[0] $station.longitude[1]' $station.longitude[2]",
     "alt":"$station.altitude",
     "hardware":"$station.hardware",
     "uptime":"$station.uptime.formatted",
     "serverUptime":"$station.os_uptime",
     "weewxVersion":"$station.version",
     "monitors": {
#if $day.txBatteryStatus.has_data
     "txBatteryStatus": "$get_battery_status($current.txBatteryStatus.raw)",
#end if
     "signal_quality": "$current.rxCheckPercent",
     "consBatteryVoltage" : "$current.consBatteryVoltage"
	}
     },
  "data":
     [
     {"current": {
       "dat":"$current.dateTime.format("%Y-%m-%dT%H:%M:%S+04:00")",
       "duration":5,
       "out_temp":$round($current.outTemp.raw,1),
       "windchill":$round($current.windchill.raw,1),
       "heatIndex":$round($current.heatindex.raw,1),
       "dewpoint":$round($current.dewpoint.raw,1),
       "humidity":$round($current.outHumidity.raw,1),
       "in_humidity":$round($current.inHumidity.raw,1),
       "barometer":$round($current.barometer.raw,1),
       "wind":$round($current.windSpeed.raw,1),
       "wind_dir":$round($current.windDir.raw,1),
       "wind_max":$round($current.windGust.raw,1),
       "wind_max_dir":$round($current.windGustDir.raw,1),
       "rain_rate":$round($current.rainRate.raw,1),
       "rain":$round($current.rain.raw,1),
#if $day.UV.has_data
       "uv_indice":$round($current.UV.raw,1),
#end if
#if $day.ET.has_data and $day.ET.sum.raw > 0.0
       "etp":$round($current.ET.raw,1),
#end if
#if $day.radiation.has_data  
       "solar_radiation":$round($current.radiation.raw,1),
#end if
       "in_temp":$round($current.inTemp.raw,1),
       "rx":$round($current.rxCheckPercent.raw,1),
       "voltage":$round($current.consBatteryVoltage.raw,1)
        },
   "aggregations":
     [ {
       "level":"D",
       "out_temp_max":$round($day.outTemp.max.raw,1),
       "out_temp_max_time":"$day.outTemp.maxtime.format("%Y-%m-%dT%H:%M:%S+04:00")",
       "out_temp_min":$round($day.outTemp.min.raw,1),
       "out_temp_min_time":"$day.outTemp.mintime.format("%Y-%m-%dT%H:%M:%S+04:00")",
       "out_temp_avg":$round($day.outTemp.avg.raw,1),
       "heatindex_max":$round($day.heatindex.max.raw,1),
       "heatindex_max_time":"$day.heatindex.maxtime.format("%Y-%m-%dT%H:%M:%S+04:00")",
       "windchill_min":$round($day.windchill.min.raw,1),
       "windchill_min_time":"$day.windchill.mintime.format("%Y-%m-%dT%H:%M:%S+04:00")",
       "humidity_max":$round($day.outHumidity.max.raw,1),
       "humidity_max_time":"$day.outHumidity.maxtime.format("%Y-%m-%dT%H:%M:%S+04:00")",
       "humidity_min":$round($day.outHumidity.min.raw,1),
       "humidity_min_time":"$day.outHumidity.mintime.format("%Y-%m-%dT%H:%M:%S+04:00")",
       "dewpoint_max":$round($day.dewpoint.max.raw,1),
       "dewpoint_max_time":"$day.dewpoint.maxtime.format("%Y-%m-%dT%H:%M:%S+04:00")",
       "dewpoint_min":$round($day.dewpoint.min.raw,1),
       "dewpoint_min_time":"$day.dewpoint.mintime.format("%Y-%m-%dT%H:%M:%S+04:00")",
       "barometer_max":$round($day.barometer.max.raw,1),
       "barometer_max_time":"$day.barometer.maxtime.format("%Y-%m-%dT%H:%M:%S+04:00")",
       "barometer_min":$round($day.barometer.min.raw,1),
       "barometer_min_time":"$day.barometer.mintime.format("%Y-%m-%dT%H:%M:%S+04:00")",
       "rainSum":$round($day.rain.sum.raw,1),
       "rain_rate_max":$round($day.rainRate.max.raw,1),
       "rain_rate_max_time":"$day.rainRate.maxtime.format("%Y-%m-%dT%H:%M:%S+04:00")",
       "wind_max":$round($day.wind.max.raw,1),
       "wind_max_dir":$round($day.wind.gustdir.raw,1),
       "wind_max_time":"$day.wind.maxtime.format("%Y-%m-%dT%H:%M:%S+04:00")",
       "wind_avg":$round($day.wind.avg.raw,1),
#if $day.UV.has_data
       "uv_indice_max":$round($day.UV.max.raw,1),
       "uv_indice_max_time":"$day.UV.maxtime.format("%Y-%m-%dT%H:%M:%S+04:00")",
#end if
#if $day.ET.has_data and $day.ET.sum.raw >0.0
       "etp_sum":$round($day.ET.max.raw,1),
#end if
#if $day.radiation.has_data
       "radiation_max":$round($day.radiation.max.raw,1),
       "radiation_max_time":"$day.radiation.maxtime.format("%Y-%m-%dT%H:%M:%S+04:00")",
       "radiation_min":$round($day.radiation.min.raw,1),
       "radiation_min_time":"$day.radiation.mintime.format("%Y-%m-%dT%H:%M:%S+04:00")",
#end if
#if $day.rxCheckPercent.has_data
       "rx_max":$round($day.rxCheckPercent.max.raw,1),
       "rx_max_time":"$day.rxCheckPercent.maxtime.format("%Y-%m-%dT%H:%M:%S+04:00")",
       "rx_min":$round($day.rxCheckPercent.min.raw,1),
       "rx_min_time":"$day.rxCheckPercent.mintime.format("%Y-%m-%dT%H:%M:%S+04:00")",
#end if
#if $day.consBatteryVoltage.has_data
       "voltage_max":$round($day.consBatteryVoltage.max.raw,1),
       "voltage_max_time":"$day.consBatteryVoltage.maxtime.format("%Y-%m-%dT%H:%M:%S+04:00")",
       "voltage_min":$round($day.consBatteryVoltage.min.raw,1),
       "voltage_min_time":"$day.consBatteryVoltage.mintime.format("%Y-%m-%dT%H:%M:%S+04:00")",
#end if
       "in_temp_max":$round($day.inTemp.max.raw,1),
       "in_temp_max_time":"$day.inTemp.maxtime.format("%Y-%m-%dT%H:%M:%S+04:00")",
       "in_temp_min":$round($day.inTemp.min.raw,1),
       "in_temp_min_time":"$day.inTemp.mintime.format("%Y-%m-%dT%H:%M:%S+04:00")"
	} ]
     }
     ]
}
